<div id="<%= dom_id user %>">
  <p>
    <strong>Username:</strong>
    <%= user.name %>
  </p>
  <p>
    <strong>Games played:</strong>
    <%= user.participations.count %>
  </p>
  <p>
    <strong>Total points across all games:</strong>
    <%= user.points_from_all_games %>
  </p>
</div>