<%= render @user %>

<div>
  <p>
    <% if @user == current_user %>
      <%= link_to "Edit #{@user.name}", edit_user_path(@user) %> |
    <% end %>
    <%= link_to "To games", games_path %>
    <% if @user == current_user %>
      <%= button_to "Destroy #{@user.name}", @user, method: :delete %>
    <% end %>
  </p>
</div>
