<div>
  Playing:
  <% if game.users.any? %>
    <ol>
      <% game.users.each do |user| %>
        <li><%= user.name %></li>
      <% end %>
    </ol>
  <% else %>
    noone yet!
  <% end %>
</div>

<%# I know it's tempting to continue in ruby now, but I think it's time
to switch to using Vue here, for the actual implementation. %>