<h1>Strategorical</h1>
<h3>An online version of <i>Listography</i></h3>

<h2>Games</h2>

<%= button_to "New game", new_game_path, method: :get %>

<div id="games">
  <% @games.each do |game| %>
    <%= "#{game.code} (created #{date_or_today(game.created_at)})" %>: <%= button_to "play", game_join_path(game), method: :put, form: { style: "display: inline-block" } %>
    <br>
  <% end %>
</div>
