<p style="color: green"><%= notice %></p>

<h1>Strategories</h1>

<h2>Games:</h2>

<div id="games">
  <% @games.each do |game| %>
    <%= game.code %>: <%= link_to "play", game %>
    <br>
  <% end %>
</div>
<br>
<%= link_to "New game", new_game_path %>
