<p>
  <strong>Code:</strong>
  <%= @game.code %>
</p>

<%= render @game %>

<% unless @game.in_play? %>
  <%= button_to "Start the game already!", game_start_path(@game), method: :put %>
<% end %>

<br>

<div>
  <%= link_to "Back to games", games_path %>
</div>
