<div data-controller="game" data-game-id=<%= @game.id %>></div>

<div id="inputs">
    <% 10.times do %>
      <br>
      <input type="hidden">
    <% end %>
<div>


<br>

<div>
  <%= link_to "Back to games", games_path %>
</div>
